dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/logs/10112022_devonfw.log
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/logs/log.db
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Devon4Net.Application.WebAPI.csproj.nuget.dgspec.json
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/logs/log.db
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Devon4Net.Application.WebAPI.csproj.nuget.dgspec.json
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Devon4Net.Application.WebAPI.csproj.nuget.g.props
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/project.assets.json
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/project.nuget.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/apphost.exe
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.assets.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.AssemblyReference.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.CoreCompileInputs.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.FileListAbsolute.txt
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/logs/log.db
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/project.nuget.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/apphost.exe
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.assets.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.AssemblyReference.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.CoreCompileInputs.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.FileListAbsolute.txt
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.genruntimeconfig.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/project.nuget.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.assets.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.csproj.AssemblyReference.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/bin/Debug/net6.0/Devon4Net.Application.WebAPI.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/logs/log.db
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.assets.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.csproj.AssemblyReference.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.csproj.CoreCompileInputs.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.csproj.FileListAbsolute.txt
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.GeneratedMSBuildEditorConfig.editorconfig
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/ref/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/refint/Devon4Net.Application.WebAPI.Implementation.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/project.nuget.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/project.nuget.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/apphost.exe
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.assets.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.AssemblyReference.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.CoreCompileInputs.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.csproj.FileListAbsolute.txt
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.dll
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.genruntimeconfig.cache
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI/obj/Debug/net6.0/Devon4Net.Application.WebAPI.pdb
dotnet-estimation/dotnet-estimation/Templates/WebAPI/Devon4Net.Application.WebAPI.Implementation/obj/Debug/net6.0/Devon4Net.Application.WebAPI.Implementation.assets.cache
